
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
  }
  
  .registerbox{
    width: 480px;
    height: 480px;
    background: white;
    color: #fff;
    top: 350px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
    border: double 1px black;
    border-radius: 25px;
    
  }
  
  .registerbox h1{
    color:  black;
    margin-top:20px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 29px;
    font-weight: bold;
   }
   
   .registerbox p{
    color:  black;
    margin: 0;
    padding: 0;
    font-weight: bold;
   }
   
   .registerbox input{
     width:100%;
     margin-bottom:40px;
   }
  
  .registerbox input{
    width:100%;
    margin-bottom:20px;
  }
    
  .registerbox input[type="text"], input[type="password"]
  {
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
  }
  
  .registerbox input[type="submit"]
  {
    margin-top:40px;
    height: 50px;

    background: #0074D9;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .registerbox input[type="submit"]:hover
  {
    cursor: pointer;
    background: #F0F8FF ;
    color: #000;
  }

  .errorMessage {
    color: red;
  }
  